/* Hero Section */

.hero{
    text-align:center;
    padding:70px 20px 50px 20px;
    margin-bottom:40px;
    border-bottom:1px solid #ff0000;
}

.hero::before{
    content:"SOC ANALYST PORTFOLIO";
    display:block;
    color:#ff4d4d;
    font-size:12px;
    letter-spacing:3px;
    margin-bottom:20px;
}

/* Name */

h1{
    color:#ffffff;
    font-size:3rem;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;

    margin-bottom:18px;

    /* Very subtle shadow */
    text-shadow:
        0 0 4px rgba(255,255,255,0.15);
}

/* Subtitle */

.hero p{
    color:#d9d9d9;
    font-size:1.05rem;
    letter-spacing:1px;
    margin-top:0;
    line-height:1.8;
}
