/* Hero Section */

.hero{
    text-align:center;
    padding:80px 20px 60px;
    margin-bottom:40px;
    border-bottom:1px solid #ffffff;
}

/* Bahjath Nisa */

h1{
    color:#ff4d4d;         /* RED */
    font-size:3rem;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;

    margin-bottom:25px;

    text-shadow:none;       /* NO SHADOW */
}

/* Subtitle */

.hero p{
    color:#ff0000;          /* WHITE */
    font-size:1.1rem;
    letter-spacing:1px;
    line-height:1.8;
    margin:0;
}
